APP_HOST=

REDIS_URL=redis://redis:6379
SENDGRID_USERNAME=
SENDGRID_PASSWORD=
NOTIFICATIONS_API_USERNAME=
NOTIFICATIONS_API_PASSWORD=
SENDGRID_API_KEY=
APP_FRONTEND_URL=http://localhost:3001
API_DYNAMED_URL=https://apis.ebsco.com

TRANSLATE_KEY=

DYNAMED_CLIENT_ID=
DYNAMED_CLIENT_SECRET=

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=finepanel_dev
DATABASE_USER=postgres
DATABASE_PASSWORD=password
