
@font-face {
	font-family: FoundationIcons;
	src: url('/fonts/foundation-icons-general.eot'); /* IE */ 
}
@font-face {
	font-family: FoundationIconsSocial;
	src: url('/fonts/foundation-icons-social.eot'); /* IE */ 
}

form.search{
		margin:0;
	}

.button, button{
	width:auto!important
}